[submodule "contrib/Catch"]
	path = contrib/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "contrib/easytree"]
	path = contrib/easytree
	url = https://github.com/elelel/easytree.git
